/* Main Page Styling */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $pageFont;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 4em;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}